<mat-toolbar color="primary">
  <span>Personal Finance Manager</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
</mat-toolbar>

<div style="text-align: center; padding: 50px;">
  <h1>Welcome to Finance Manager</h1>
  <p>Take control of your finances with ease.</p>
  <button mat-raised-button color="primary" routerLink="/login" style="margin-top: 20px;">Start Managing Your Finance</button>
</div>

<router-outlet></router-outlet>